* {
  font-family: 'Roboto Slab', serif;
  color: black;
}
#outer {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

#content {
  width: 70%;
  height: 100%;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
  border-left: thin solid #99ff99;
  border-right: thin solid #99ff99;
}

#result, #leaderboard, .explaination {
  margin: 0 auto;
  width: 70%;
}
.explaination {
  text-align: justify
}

#datepicker, #titlepicker, #movieList {
width: 240px;
font-size: 16px;
background-color: white;
}
#datepicker, #movieList {
  display: none;

}

button {
  font-size: 16px;
  margin: 8px;
  width: 300px;
  background-color: white;
}
#specific_button, #reset {
  display: none;
}

#footer {
  text-align: right;
  margin-right: 20px;
  margin-top: 45px;
}

#footer a {
 text-decoration: none;
}